<!-- <div class="ng4y-mask"></div>
<div class="ng4y-dialog">
    <div class="ng4y-dialog__hd">
        <strong class="weui-dialog__title">选择宝宝</strong>
    </div>
    <div class="ng4y-cells">
        <div class="ng4y-cells_radio" *ngFor="let i of radioOptions">
            <label class="ng4y-cell">
                <div class="ng4y-cell__bd">
                    <p>{{i.text}}</p>
                </div>
                <div class="ng4y-cell__ft">
                    <input class="weui-check" type="radio" name="radio" value="radio" [ngModel]="radio">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>
    </div>
    <div class="ng4y-dialog__ft">
        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
    </div>
</div> -->
