weui-dialog .weui-mask,
weui-dialog .weui-dialog {
    opacity: 0;
    visibility: hidden;
}

weui-dialog .weui-mask__in,
weui-dialog .weui-dialog__in {
    opacity: 1;
    visibility: visible;
}

weui-dialog .weui-mask {
    transition-duration: .3s;
}

.weui-dialog {
    transition-duration: .2s;
    transform-origin: 0 0;
}

.weui-dialog__in {
    transform: scale(1) translate(-50%, -50%);
}

.weui-dialog__error {
    font-size: 14px;
    color: #f50;
}
